/* Reset de estilos básicos */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
}

/* Estilos de cabeçalho */
header {
    background-color: #003366;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Estilos do centro */
.center {
    background-image: url('center-image.jpg');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: white;
}

.cta-button {
    display: inline-block;
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Estilos dos eventos */
.events {
    padding: 40px 0;
}

.event {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.event-details {
    color: #003366;
    text-decoration: none;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Estilos dos cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    flex-basis: calc(30% - 20px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-text {
    margin-top: 10px;
}
