*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 5px solid #0002FE;
}
.header > span{
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.row{
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}
#cards{
    margin: 20px 20px 0px 20px;
}
.card{
    width: 506px;
    height: 150px;
    display: flex;
    border: 3px solid #0002FE;
    border-radius: 23px;
    overflow: hidden;
}
.imagePlaceholder{
    width: 151px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textPlaceholder{
    width: 100%;
    background-color: #0002FE;
    color: #FFF;
    display: flex;
    flex-direction: column;
}
.title{
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    margin-right: 15px;
}
.text{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 15px;
}
.arrow{
    align-self: flex-end;
    margin-right: 15px;
}