
@keyframes fly {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100px) rotate(360deg);
    }
  }
  
  .emoji {
    font-size: 3em;
    position: absolute;
    animation: fly 1s linear forwards;
  }
  